body{
    background-color: black;
}
hr{
    color: lime;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lime;
    text-align: center;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lime;
    text-align: center;
}
h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lime;
    text-align: center;
}
h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lime;
    text-align: center;
}
#Translator{
    background-color: lime;
    border-radius: 10px;
    padding: 10px;
}
#TranslatorText{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.translator textarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  background: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  margin-bottom: 10px;
  font-family: monospace;
  border-radius: 10px;
}

.translator .buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.translator button {
  background: black;
  color: #00ff00;
  border: 2px solid #00ff00;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.translator button:hover {
  background: #00ff00;
  color: black;
}
